.arrayDisplay {
  font-family: 'Courier New', monospace;
  background-color: #f0f0f0;
  border: 1px solid #54b3d6;
  border-radius: 4px;
  padding: 10px;
  margin: 10px auto;
  margin-bottom: 100px;
  white-space: pre-wrap; /* Ensures that the hex string wraps */
  word-wrap: break-word;
  max-width: 75%; /* Maximum width of 80% */
  max-height: 300px; /* Maximum height of your choice */
  overflow: auto; /* Enables scrolling if content overflows */
}

.outputContainer {
  display: flex;
  justify-content: space-between;
  max-width: 75%; /* Maximum width of 80% */
  margin-left: auto;
  margin-right: auto;
}

.outputHeader {
  font-size: 25px;
  font-weight: 500;
  margin-top: 15px;
}

.proofHeader {
  text-align: center;
  font-weight: 500;
}
